@font-face {
    font-family: "amatic";
    src: url("../../public/fonts/Amatic_SC/AmaticSC-Regular.ttf");
}

@font-face {
    font-family: "inter";
    src: url("../../public/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf");
}
