.containerSection11{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
}

.sectionHeaderS11{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.sectionHeaderS11 h2{
    font-family: 'inter' ;
    font-size: 15px;
    padding: 0px;
    margin: 5px;
}

.sectionHeaderS11 p{
    font-family: 'amatic' ;
    font-size: 50px;
    padding: 0px;
    margin: 5px;
    color: grey;
}

.sectionHeaderS11 p span{
    font-family: 'amatic' ;
    font-size: 50px;
    color: lightblue;
}

.GoogleMaps {
    position: relative;
    text-align: center;
    justify-content: center;
    height: 500px;
    width: 900px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 500px;
    width: 600px;
}
#renseignementSection11 {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 20px;
}

#renseignementSect11Div2 {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 20px;
}
.renseignementS11{
    display: flex;
    justify-content: start;
    background-color:#eeeeee;;
    width: 470px;
    i {
        border: 1px ;
        border-radius: 50%;
        padding: 10px;
        margin-top: 10px;
        margin-left: 20px;
        color: white;
        background-color: #23d3c0;
    }
    h2{
        font-size: 20px;
        color: #898999;
        margin-bottom: 0;
    }
    p{
        font-size: 14px;
        margin-top: 5px;
    }
}
.iconContact {
    margin-top: 15px;
    margin-right: 15px;
}
#formContactSect11{
    text-align: center;
    box-shadow: 1px 1px 10px 4px grey;
    width: 51%;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    textarea{
        margin: 3%;
    }
    input{
        padding: 1%;
        margin: 3%;
    }
}
#btnSect11:hover{
    display: inline-block;
    vertical-align: middle;
    transition-duration: 0.3s;
    transition-property: color, background-color;
    background-color: red;
    color: white;
}
