.containerSection11{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
}

.sectionHeaderS11{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.sectionHeaderS11 h2{
    font-family: 'inter' ;
    font-size: 15px;
    padding: 0px;
    margin: 5px;
}

.sectionHeaderS11 p{
    font-family: 'amatic' ;
    font-size: 50px;
    padding: 0px;
    margin: 5px;
    color: grey;
}

.sectionHeaderS11 p span{
    font-family: 'amatic' ;
    font-size: 50px;
    color: lightblue;
}

.GoogleMaps {
    position: relative;
    text-align: center;
    justify-content: center;
    height: 500px;
    width: 900px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 500px;
    width: 600px;
}
#renseignementSection11 {
    display: flex;
    justify-content: center;
    gap: 60px;
}

#renseignementSect11Div2 {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 20px;
}
.renseignementS11{
    display: flex;
    justify-content: start;
    background-color:#eeeeee;;
    width: 470px;
    align-items: center;
    i {
        border: 1px ;
        border-radius: 50%;
        padding: 10px;
        margin-top: 10px;
        margin-left: 20px;
        color: white;
        background-color: #23d3c0;
    }
    h2{
        font-size: 20px;
        color: #898999;
        margin-bottom: 0;
    }
    p{
        font-size: 14px;
        margin-top: 5px;
    }
}

.txtContact{
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-family: 'inter';
}

#formContactSection11{
    box-shadow: 0px 1px 5px 0px #acababba;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:8vh;
    padding: 1%;
}

.formTxt-1{
    display: flex;
    justify-content: space-between;

}
// .formTxt-1 textarea{
//     margin: 3%;
// }

.formTxt-1 input{
    margin: 3%;
    font-family: 'inter';
    padding: 20px;
    width: 37vw;
    background-color: transparent;
    border: 1px solid #bfbfbf6e;
}

.formTxt-2 textarea{
    margin: 3%;
    background-color: transparent;
    border: 1px solid #bfbfbf6e;
}

.formTxt-2 input{
    margin: 3%;
    font-family: 'inter';
    padding: 20px;
    width: 68vw;
    background-color: transparent;
    border: 1px solid #bfbfbf6e;
}

.txtArea textarea{
    font-family: 'inter';
    margin: 3%;
    padding: 20px;
    width: 68vw;
    background-color: transparent;
    border: 1px solid #bfbfbf6e;
}

.buttonSection11{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1vh;
}

#btnSect11{
    background-color: #add8e6;
    text-decoration: none;
    color: #000;
    border: 10px solid #add8e6;
    border-radius: 50px;
    font-size: 15px;
    cursor: pointer;
}

#btnSect11:hover{
    background-color: #000000;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-radius: 50px;
    border: 10px solid #000000;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}