.containerSection9{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sectionHeaderS9{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.sectionHeaderS9 h2{
    font-family: 'inter' ;
    font-size: 15px;
    padding: 0px;
    margin: 5px;
}

.sectionHeaderS9 p{
    font-family: 'amatic' ;
    font-size: 50px;
    padding: 0px;
    margin: 5px;
    color: grey;
}

.sectionHeaderS9 p span{
    font-family: 'amatic' ;
    font-size: 50px;
    color: lightblue;
}

.containerCarousselEmptyS9{
    display: flex;
    height: 40vh;
    width: 80vw;
    border: 1px solid black;
}

.containerFormContactS9{
    display: flex;
    // height: 40vh;
    // width: 80vw;
    // border: 1px solid black;
}

.rowGSection9{
    display: flex;
    border: 1px solid #000;
    // justify-content: center;
    // align-items: center;
    height: 70vh;
    width: 80vw;
    background-color: rgba(229, 229, 229, 0.617);
}

// .colLg4ReservationImg{
//     // height: 50vh;
//     // width: 30vw;
// }

.colLg4ReservationImg img{
    height: 70vh;
    width: 30vw;
}

.colLg8DFlex{
    display: flex;
    align-items: center;
    font-size: 10px;
    font-family: 'inter';
}

.formsbookTable{
    display: flex;
    width: 40vw;
}

.rowGy4S9{
    display: flex;
    width: 40vw;
}