.containerSection6{
    // background-color: rgba(229, 229, 229, 0.617);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sectionHeaderS6{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.sectionHeaderS6 h2{
    font-family: 'inter' ;
    font-size: 15px;
    padding: 0px;
    margin: 5px;
}

.sectionHeaderS6 p{
    font-family: 'amatic' ;
    font-size: 50px;
    padding: 0px;
    margin: 5px;
    color: grey;
}

.sectionHeaderS6 p span{
    font-family: 'amatic' ;
    font-size: 50px;
    color: lightblue;
}

#testimonials {
    background-color: rgba(229, 229, 229, 0.617);
    padding: 20px 0;

    .overflowHiden {
        width: 1200px;
        overflow: hidden;

        .containerCarousel {
            display: flex;
            width: 400%;
            transition-duration: 1s;

            .carouselItem {
                width: 100%;
                margin-top: 50px;
                // transform: translateX(-100%);

                .carouselItemContainer {
                    width: 70%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: auto;

                    .greenLine {
                        width: 6px;
                        height: 150px;
                        background-color: rgba(229, 229, 229, 0.617);
                        margin-right: 20px;
                    }

                    .carouselItemText {
                        font-family: Arial, Helvetica, sans-serif;

                        h4 {
                            margin: 10px 0 0 0;
                        }

                        p {
                            margin: 0;
                        }

                        .star {
                            color: rgb(253, 207, 0);
                            margin-top: 10px;
                        }

                        .fa-solid {
                            color: rgb(47, 47, 47);
                        }
                    }

                    .carouselItemImg {
                        margin-left: 20px;

                        img {
                            height: 150px;
                            border-radius: 200px;
                            border: 3px solid white;
                        }
                    }
                }
            }
        }
    }

    .carouselBtn {
        display: flex;
        justify-content: center;
        margin-top: 50px;

        button {
            background-color: rgba(49, 49, 49, 0.735);
            width: 10px;
            height: 10px;
            border-radius: 20px;
            border: none;
            cursor: pointer;
            margin: 5px;
        }

        .btnActive {
            background-color: lightblue;
        }
    }
}