.containerSection9{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 110vh;
}

.sectionHeaderS9{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.sectionHeaderS9 h2{
    font-family: 'inter' ;
    font-size: 15px;
    padding: 0px;
    margin: 5px;
}

.sectionHeaderS9 p{
    font-family: 'amatic' ;
    font-size: 50px;
    padding: 0px;
    margin: 5px;
    color: grey;
}

.sectionHeaderS9 p span{
    font-family: 'amatic' ;
    font-size: 50px;
    color: lightblue;
}

.containerCarousselEmptyS9{
    display: flex;
    height: 40vh;
    width: 80vw;
    border: 1px solid black;
}

.containerFormContactS9{
    display: flex;
    // height: 40vh;
    // width: 80vw;
    // border: 1px solid black;
}

.rowGSection9{
    display: flex;
    // border: 1px solid #000;
    // justify-content: center;
    // align-items: center;
    height: 70vh;
    width: 80vw;
    background-color: rgba(229, 229, 229, 0.617);
}

// .colLg4ReservationImg{
//     // height: 50vh;
//     // width: 30vw;
// }

.colLg4ReservationImg img{
    height: 70vh;
    width: 30vw;
}

.colLg8DFlex{
    display: flex;
    align-items: center;
    font-size: 10px;
    font-family: 'inter';
}

.formsbookTable{
    display: flex;
    width: 40vw;
}

.rowGy4S9{
    display: flex;
    width: 50vw;
    justify-content: center;
    align-items: center;
}

.formsbookTableForm{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50vw;
}

.formControl{
    border: 1px solid rgba(188, 188, 188, 0.626);
    font-family: 'inter';
    padding: 18px;
    margin: 6px;
}

.formControlMsg{
    border: 1px solid #bcbcbca0;
    font-family: "inter";
    width: 41vw;
    height: 20vh;
    margin: 10px 0px 0px 0px;
    padding: 18px;
}


.BtnTextCenter button{
    margin-top: 15px;
    background-color: lightblue;
    text-decoration: none;
    color: black;
    border: 10px solid lightblue;
    border-radius: 50px;
    font-size: 15px;
    cursor: pointer;
  }
  
  .BtnTextCenter :hover{
    background-color: rgb(0, 0, 0);
    text-decoration: none;
    color: rgb(255, 255, 255);
    border: 10px solid rgb(0, 0, 0);
    border-radius: 50px;
    font-size: 15px;
    transition: 0.5s ease-in-out;
  }
  
